<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Ambula Care</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/owl.carousel.min.css" rel="stylesheet">

        <link href="css/owl.theme.default.min.css" rel="stylesheet">

        <link href="css/templatemo-medic-care.css" rel="stylesheet">

        <link href="casimedico.css" rel="stylesheet">
<!--

TemplateMo 566 Medic Care

https://templatemo.com/tm-566-medic-care

-->
    </head>
    
    <body id="top">
    
        <main>

            <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
                <div class="container">
                    <div class="navbar-brand mx-auto d-lg-none">
                        AmbulaCare
                        <strong class="d-block">HEALTH SPECIALISTS</strong>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="indexmedico.html">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="storicoesami_perappuntamento.html">Storico esami</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="visualizzaagenda.html">Visualizza agenda</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="inseriscislotorario.html ">Carica slot per appuntamento</a>
                            </li>

                            <div class="navbar-brand d-none d-lg-block">
                                AmbulaCare
                                <strong class="d-block">HEALTH SPECIALISTS</strong>
                            </div>

                            <!--<li class="nav-item">
                                <a class="nav-link" href="#reviews">Testimonials</a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" href="inseriscidata_perstatistiche.html">Statistiche</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="storicoesami_perpaziente.html">Ricerca pazienti</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="visualizzarecensioni_medico.html">Recensioni</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="profiloadmin.php">Profilo Personale</a>
                            </li>
                            <!--<li class="nav-item" >
                                <a class="nav-link" href="register.html">REGISTRATI</a>
                            </li>-->
                            <!--<li class="nav-item" >
                                <a class="nav-link" href="login.html">ACCEDI</a>
                            </li>-->
                        </ul>
                    </div>

                </div>
            </nav>

        </main>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form action="#">
                        <div class="form-group" >
                            <div class="col-9" id="elenco">
                                <h2>Disponibilità Orari Attule</h2>
                                <table class="table" id style="border: 1px solid;">
                                    <thead >
                                        <tr>
                                            <th scope="col">LUN 27/05</th>
                                            <th scope="col">MAR 28/05</th>
                                            <th scope="col">MER 29/05</th>
                                            <th scope="col">GIO 30/05</th>
                                            <th scope="col">VEN 31/05</th>
                                            <th scope="col">SAB 01/06</th>
                                            <th scope="col">DOM 02/06</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>14:30</td>
                                            <td>15:30</td>
                                            <td>16:30</td>
                                            <td>17:30</td>
                                            <td>18:30</td>
                                        </tr>
                                        <tr>
                                            <td>14:30</td>
                                            <td>15:30</td>
                                            <td>16:30</td>
                                            <td>17:30</td>
                                            <td>18:30</td>
                                        </tr>
                                        <tr>
                                            <td>14:30</td>
                                            <td>15:30</td>
                                            <td>16:30</td>
                                            <td>17:30</td>
                                            <td>18:30</td>
                                        </tr>
                                        <tr>
                                            <td>08:30</td>
                                            <td>09:30</td>
                                            <td>10:30</td>
                                            <td>11:30</td>
                                            <td>12:30</td>
                                        </tr>
                                        <tr>
                                            <td>08:30</td>
                                            <td>09:30</td>
                                            <td>10:30</td>
                                            <td>11:30</td>
                                            <td>12:30</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <label>Disponibile in data : </label>&ensp;<input type="date" id="datadisp" placeholder="Data Disponibile" name="datadisp" />
                                    <br>
                                    <label>Inizio orario di Disponibilità : </label>&ensp;<input type="time" id="inizioorario" placeholder="Inizio Orario" name="inizioorario" />
                                    <br>
                                    <label>Fine orario di Disponibilità : </label>&ensp;<input type="time" id="fineorario" placeholder="Fine Orario" name="fineorario" />
                                    </div>
                            </div>
                        </div>
                            <br><br><br>
                            <button type="submit" class="btn btn-primary" style="width: 140px;height: 35px;">Annulla</button>
                            &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <button type="submit" class="btn btn-primary" style="width: 140px;height: 35px;">Conferma</button>
                    </form>
                </div>
            </div>
        </div>
       <!--<footer class="site-footer section-padding" id="contact">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 me-auto col-12">
                        <h5 class="mb-lg-4 mb-3">ORARI DI APERTURA</h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex">
                                DOMENICA : CHIUSO
                            </li>

                            <li class="list-group-item d-flex">
                                LUNEDI' - MARTEDI' - VENERDI'
                                <span>8:00 - 15:30</span>
                            </li>

                            <li class="list-group-item d-flex">
                                SABATO
                                <span>10:30 - 17:30</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 col-12 my-4 my-lg-0">
                        <h5 class="mb-lg-4 mb-3">LA NOSTRA CLINICA</h5>

                        <p><a href="mailto:emanuele.papile@student.univaq.it">emanuele.papile@student.univaq.it</a><p>
                        <p><a href="mailto:andrea.iannotti@student.univaq.it">andrea.iannotti@student.univaq.it</a><p>
                        <p><a href="mailto:andrealuca.disimone@student.univaq.it">andrealuca.disimone@student.univaq.it</a><p>
                                

                        <p>EDIFICIO RENATO RICAMO, VIA VETOIO, COPPITO - 67100 L'AQUILA</p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 ms-auto">
                        <h5 class="mb-lg-4 mb-3">SOCIAL MEDIA</h5>

                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="https://www.instagram.com/" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-12 ms-auto mt-4 mt-lg-0">
                        <p class="copyright-text">Copyright © Ambula Care 2024
                        <br><br>Realizzato da: 
                            <p>Emanuele Papile</p>
                            <p>Andrea Iannotti</p>
                            <p>Andrea Luca Di Simone</p>
                    </p>
                    </div>

                </div>
            </section>
        </footer>-->

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/scrollspy.min.js"></script>
        <script src="js/custom.js"></script>
<!--

TemplateMo 566 Medic Care

https://templatemo.com/tm-566-medic-care

-->
    </body>
</html>