<!DOCTYPE html>
<html>
    <head>
        <title>REGISTRAZIONE</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
        <link rel="stylesheet" href="logregstyle.css">
        <link href="font.css" rel="stylesheet">
    </head>
    <body>
        <form method="post" action="registeradmin.php">
            <h1>REGISTRAZIONE</h1>
            <input type="text" id="nome" placeholder="Nome" name="nome" required>
            <input type="text" id="cognome" placeholder="Cognome" name="cognome" required>
            <input type="text" id="email" placeholder="E-mail" name="email" required>
            <input type="password" id="password" placeholder="Password" name="password" required>
            <!--<input type="file" id="imgprofilo" placeholder="Immagine Profilo" name="imgprofilo" >-->
            <button type="submit" name="register">REGISTRATI</button>
        </form>
    </body>
</html>