<!DOCTYPE html>
<html>
    <head>
        <title>REGISTRAZIONE</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
        <link rel="stylesheet" href="logregstyle.css">
    </head>
    <body>
        <form method="post" action="register.php">
            <h1>REGISTRAZIONE</h1>
            <input type="text" id="nome" placeholder="Nome" name="nome" required>
            <input type="text" id="cognome" placeholder="Cognome" name="cognome" required>
            <input type="text" id="email" placeholder="E-mail" name="email" required>
            <input type="text" id="codicefiscale" placeholder="Codice Fiscale" name="codicefiscale" required>
            <input type="date" id="datanascita" placeholder="Data di Nascita" name="datanascita" required>
            <input type="text" id="luogonascita" placeholder="Luogo di Nascita" name="luogonascita" required>
            <input type="text" id="residenza" placeholder="Residenza" name="residenza" required>
            <input type="text" id="numerotelefono" placeholder="Telefono/Cellulare" name="numerotelefono" required>
            <input type="password" id="password" placeholder="Password" name="password" required>
            <button type="submit" name="register">REGISTRATI</button>
        </form>
    </body>
</html>