html {font-size:100%;}

@media (max-width: 640px) { 
    body,thead,tbody,tr,th,td {font-size:0.6rem;
        }
        .btn{
            font-size: 0.5rem;
        }
        h2{
            font-size: 1.4rem;
        }
        .bottonitab{
            /*position: absolute;
            left: 1053px;*/
            font-size: 0.5rem;
        }
        #annulla{
            width: 140px;
            height: 35px;
            font-size: 0.5rem;
        }
        #conferma{
            width: 140px;
            height: 35px;
            font-size: 0.5rem;
        }
    } 
    
    @media (min-width: 641px) { 
    body,thead,tbody,tr,th,td {font-size:0.8rem;}
    .btn{
        font-size: 0.7rem;
    }
    h2{
        font-size: 1.6rem;
    }
    .bottonitab{
        /*position: absolute;
        left: 1053px;*/
        font-size: 0.7rem;
    }
    #annulla{
        width: 140px;
        height: 35px;
        font-size: 0.7rem;
    }
    #conferma{
        width: 140px;
        height: 35px;
        font-size: 0.7rem;
    }
    } 
     
    @media (min-width:960px) { 
    body,thead,tbody,tr,th,td {font-size:1rem;}
    .btn{
        font-size: 0.9rem;
    }
    h2{
        font-size: 1.8rem;
    }
    .bottonitab{
        /*position: absolute;
        left: 1053px;*/
        font-size: 0.9rem;
    }
    #annulla{
        width: 140px;
        height: 35px;
        font-size: 0.9rem;
    }
    #conferma{
        width: 140px;
        height: 35px;
        font-size: 0.9rem;
    }
    } 
    
    @media (min-width:1100px) { 
    body,thead,tbody,tr,th,td {font-size:1.2rem;}
    h2{
        font-size: 2rem;
    }
    .btn{
        font-size: 1.1rem;
    }
    .bottonitab{
        /*position: relative;
        left: 914px;*/
        font-size: 1.1rem;
    }
    #annulla{
        width: 140px;
        height: 35px;
        font-size: 1.1rem;
    }
    #conferma{
        width: 140px;
        height: 35px;
        font-size: 1.1rem;
    }
    }
table{
    overflow-x: auto;
    overflow-y: auto;
}